body{
    padding: 0;
    margin: 0;
   background-color: #f4f4f4;
}

.auto-img{
    width: 100%;
    display: block;
}
.cup{
    cursor: pointer;
}
hr{
     margin-top: 0;
     margin-bottom: 0; 
     border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.341);
}