.swiper {
    width: 100px;
    height: 100px;
   }

   .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
     
   }
   .swiper-slide:nth-child(1){
    background: url(../images/1.jpg);
    background-size: cover;
     
   }
   .swiper-slide:nth-child(2){
    background: url(../images/2.jpg);
    background-size: cover;
    background-position: -130px 0;
   }
   .swiper-slide:nth-child(3){
    background: url(../images/3.jpg);
    background-size: cover;
   }
   .swiper-slide:nth-child(4){
    background: url(../images/4.jpg);
    background-size: cover;
   }
   .swiper-slide img {
     display: block;
     width: 100px;
     height: 100px;
     object-fit: cover;
   }

   .swiper {
     width: 100%;
     /* width: 300px; */
     height: 200px;
     margin: 20px auto;
   }
   /* .append-buttons {
     text-align: center;
     margin-top: 20px;
   } */

   /* .append-buttons button {
     display: inline-block;
     cursor: pointer;
     border: 1px solid #007aff;
     color: #007aff;
     text-decoration: none;
     padding: 4px 10px;
     border-radius: 4px;
     margin: 0 10px;
     font-size: 13px;
     width: 20px;
     height: 20px;
   } */
   .swiper-slide{
      position: relative;
   }
   .kfzs{
    position: absolute;
    left: 0;
    top: 5px;
    width: 82px;
    height: 34px;
    background-color: #c2a661;
    font-size: 14px;
    color: #fff;
    line-height: 34px;

   }
   .kfjs{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0 0 0 / 12%);
    font-size: 14px;
    padding-right: 90px;
    padding-top: 15px;
    box-shadow: -1px 1px 1px 1px rgb(0 0 0 / 12%);
   }
   